{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="zoneInscription" {{ react_component('ModificationDiscipline') }}></div>
    </main>
{% endblock %}

{% block title %}Modifier discipline{% endblock %}

{% block breadcrumb %}
    <div class="zoneBreadcrumb">
        <section id="#breadcrumb_1">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Participation</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modifier discipline</li>
                </ol>
            </nav>
        </section>
    </div>
{% endblock %}

