{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="zoneFormulaireNonMembre" {{ react_component('AdhesionNonMembre') }}></div>
</main>
{% endblock %}

{% block title %}Formulaire d'inscription des non membres{% endblock %}

