<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ absolute_url(asset('assets/images/logo.png')) }}">
    <title>WebTV</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="content">
<div class="container-xl">
    <div {{ react_component('PageWebTV', {'slug': slug}) }}></div>
    <footer>
        <div class="zoneContact">
            <section id="contact">
                <div class="row justify-content-center contact">
                    <div class="col-lg-9 col-xl-7 text-center">
                        <h2>Besoin d'aide ?</h2>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-4 text-center text-md-end">Appelez-nous :</div>
                            <div class="col-md-8 text-start">
                                <a href="tel:+2252722403966"><i class="bi bi-telephone"></i> (225) 27 22 403 966</a> /
                                <a href="tel:+2252722403966"><i class="bi bi-phone"></i> +225 07 87 755 337</a>
                            </div>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-5 text-center text-md-end">
                                Ou Écrivez-nous à:
                            </div>
                            <div class="col-md-7 text-start">
                                <a href="mailto:olympiades@chambredesmines.org"><i class="bi bi-envelope"></i> olympiades@chambredesmines.org</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>

        <div class="zoneCopyright">
            <section id="copyright">
                <div class="row copyright">
                    <hr>
                    <div class="col-md-6">
                        Copyright &COPY; 2024 <a href="https://chambredesmines.org" target="_blank" rel="noopener noreferrer">GPMCI</a>. Tous droits réservés
                    </div>
                    <div class="col-md-6 text-end">
                        By <a href="http://dreammaker-ci.com" target="_blank">Dream Maker</a>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>